html{
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: auto;
    overflow: hidden;
}

body{
    background-image: url("./burger-background-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-y: hidden;
}

header{
    height: 30%;
    width: 100%;
    overflow: hidden;
}

.logo{
    font-family: "Chewy";
    font-size: 130px;
    color: bisque;
    text-align: center;
    text-shadow: -5px 5px 0 rgb(129, 106, 53), 5px -5px 0 rgb(129, 106, 53), 5px 5px 0 rgb(129, 106, 53), 5px 5px 0 rgb(129, 106, 53);
    background-color: rgba(0, 0, 0, 0.299);
    animation: slide-logo 3s ease-in-out;
}

.navbar{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: rgba(0, 0, 0, 0.299);
}

.home, .menu, .about {
    border: none;
    height: 90px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    font-size: 35px;
    color: rgba(233, 158, 29, 0.938);
    font-weight: bold;
    font-family: "Chewy";
    transition: all ease-out 0.2s;
}

.home:hover, .menu:hover, .about:hover{
    background-color: rgba(0, 0, 0, 0.466);
    cursor: pointer;
}
.home:active, .menu:active, .about:active{
    background-color: rgba(0, 0, 0, 0.636);
}

.main-page{
    display: flex;
    gap: 30px;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
    transform: scale(0.7);
}

.main-page::-webkit-scrollbar {
    display: none;
}

#content{
    height: 70%;
    display: flex;
    justify-content: center;
}

.quote {
    font-size: 70px;
    color: rgb(255, 205, 105);
    font-family: "Chewy";
    padding: 0;
    margin: 0;
    text-align: center;
    animation: slideIn 1.5s ease-out;
}

.buynow {
    border: none;
    width: 250px;
    height: 90px;
    border-radius: 17px;
    font-size: 30px;
    font-family: 'Arial', 'Helvetica', 'sans-serif';
    font-weight: bolder;
    background-color: rgba(255, 228, 196, 0.759);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.472);
    color: rgb(59, 36, 7);
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 13px;
}

.buynow:hover {
    cursor: pointer;
    background-color: rgba(255, 228, 196, 0.816);
    transform: translateY(-10px);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.826);
    transition: all 0.3s ease;
}

.burger-logo {
    transform: scale(0.8);
    padding-left: 15px;
}
.divider {
    border-top: 2px solid rgba(255, 140, 0, 0.5); /* Orange divider with transparency */
    margin: 20px 0; /* Adds space around the divider */
    width: 100%; /* Adjust width as needed */
    height: 2px;
    background-color: rgba(255, 140, 0, 0.5);
    margin: 20px auto; /* Center the divider */
}


.timing {
    color: rgb(255, 224, 166);
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
    animation: fadeIn 2s ease;
}

.timing1 {
    padding: 20px;
}

.timing2 {
    padding-right: 36px;
    padding-left: 36px;
    padding-bottom: 20px;
}

.timings-together {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow-y: scroll;
    column-gap: 200px;
    row-gap: 60px;
    transform: scale(0.7);
}

.menu-item > p{
    margin: 5px;
    font-size: 25px;
    width: 500px;
}

.menu-item > h2 {
    margin: 20px;
    padding: 15px;
    background-color: rgba(255, 212, 157, 0.607);
    color: rgb(115, 45, 10);
    border-radius: 10px;
    font-family: "Chewy";
    font-weight: 300;
    transition: all 0.11s ease-in;
    font-size: 45px;
    width: 80%;
}

.menu-item > h2:hover {
    background-color: rgba(255, 213, 157, 0.773);
    cursor: pointer;
}

.menu-content::-webkit-scrollbar {
    display: none;
}

.menu-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 600px;
    height: 600px;
    color: white;
    font-size: 20px;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    padding: 20px;
}

.menu-images {
    height: 300px;
    width: auto;
    border: 20px solid rgba(245, 245, 220, 0.396);
    border-radius: 16px;
    animation: fadeIn 0.3s ease-in;
    transition: all 0.35s ease-in-out;
    max-width: 300px;
}

.menu-images:hover{
    border: 20px solid rgba(245, 245, 220, 0.396);
    border-radius: 200px;
    cursor: pointer;
}

.menu-item > img{
    border-radius: 46px;
}

.menu-item > .price {
    font-size: 33px;
    font-weight: bold;
    margin-top: 0;
}

.chef-image {
    width: 800px;
    height: auto;
    border: 30px solid rgba(0, 0, 0, 0.385);    
    margin-left: 130px;
    margin-top: 50px;
    border-radius: 50%;
}
.about-content {
    width: 100%;
    display: inline-block;
    position: relative;
    transform: scale(0.7);
}

.about-content > .quote {
    width: 600px;
    font-size: 30px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    overflow: visible;
    position: absolute;
    top: 37%;
    left: 45%;
    background-color: rgba(0, 0, 0, 0.44);
    padding: 20px;
    animation: none;
}

@media only screen and (max-width: 1080px){
    body {
        background-image: url("./burger-background-phone.png");
        font-size: smaller;
    }
    .menu-content {
        grid-template-columns: 1fr;
    }
}

@keyframes slideIn {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}